button{
    background-color: rgb(45, 45, 45);
    color: white;
    padding: 13px;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    box-shadow: var(--box-shadow);
}

button:hover{
    background-color: white;
    color: rgb(45, 45, 45);
}