.tableContainer{
    margin-left: 15%;
    margin-right: 10%;
}

.formContainer{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 80px;
}

.formContainer Form{
    width: 100%;
    text-align: right;
}

.formContainer Button{
    width: 30%;
}