:root{
    --padding-top-botton: 15px;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    width: 100%;
    font-size: large;
    box-shadow: var(--box-shadow);
}

thead{
    background-color: var(--color3);
    color: white;
}

thead th{
    border-bottom: none;
}

th,
td {
    border-bottom: 1.5px solid var(--color4);
    padding-top: var(--padding-top-botton);
    padding-bottom: var(--padding-top-botton);
    padding-left: 20px;
    max-width: 300px;
}

tbody tr:hover{
    background-color: var(--color4);
}

.iconsLink{
    margin-right: 10px;
    margin-left: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.iconsLink:hover{
    
    transform: scale(1.5);
}

tr .icons{
    min-width: 200px;
    max-width: 200px;
}