@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root{
  --color: #5757577e;
}
.modal__alt{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(3, 3, 3, 0.8);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(3, 3, 3, 0.8);
  display: flex;
  opacity: 1;
  pointer-events: unset;
  transition: opacity 0.5s;
  z-index: 3;
}

.modal__container {
  margin: auto;
  background-color: #fff;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  overflow: hidden;
  text-align: center;
  padding: 2.5em 1.5em;
  border-radius: 1em;
  position: relative;

}

@keyframes show {
    0%{
        transform: translateY(-150vh);
    }
}
.modal__title {
  font-size: 2.5em;
  font-weight: 500;
  margin-top: 1px;
  display: inline;
}

.modal__close {
  display: inline-block;
  border: 1px solid;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: 700;
  color: #333;
}

.modal__close__x {
  display: inline-block;
  border: 1px solid;
  font-size: x-large;
  padding: 5px 0 5px 0;
  background-color: red;
  color: white;
  border-radius: 5px;
  width: 40px;
  position: absolute;
  right: 1em;
  top: 1em;
  cursor: pointer;
}

.modal__close__x:hover {
  box-shadow: var(--box-shadow);
  border :none
}
